body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  color: $c-black;
  font-style: normal;
  background: $c-white;
}

img {
  max-width: 100%;
  height: auto;
}
