@font-face {
  font-weight: normal;
  font-family: "Oswald";
  font-style: normal;
  src: url("../../fonts/oswaldregular.woff2") format("woff2"), url("../../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Oswald";
  font-style: normal;
  src: url("../../fonts/oswaldmedium.woff2") format("woff2"), url("../../fonts/oswaldmedium.woff") format("woff");
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 20px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  color: $c-black;
  font-style: normal;
  background-color: $c-white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: $desktop-width) {
  margin: 0 auto;
  padding: 0 40px;
}
