.catalog-extra {
  position: relative;
  width: 100%;
  padding-bottom: 18px;

  @media (min-width: $desktop-width) {
    width: 1300px;
    margin: 0 auto;
    padding-bottom: 85px;
  }
}

.catalog-extra::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  z-index: 1;
  width: 268px;
  height: 3px;

  background-color: $c-white;

  @media (min-width: $tablet-width) {
    top: 29px;
    left: 30px;
    width: 410px;
    height: 5px;
  }

  @media (min-width: $desktop-width) {
    left: -40px;
    width: 450px;
  }
}

.catalog-extra::after {
  content: "";
  position: absolute;
  top: 23px;
  right: -20px;
  z-index: -1;
  width: 100%;
  height: 3px;

  background-color: $c-green;

  @media (min-width: $tablet-width) {
    top: 30px;
    left: 0;
    right: 0;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    right: 0;
    width: 100%;
  }
}

.catalog-extra__title {
  position: relative;
  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 34px;
  font-size: 24px;
  line-height: 24px;
  z-index: 2;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
    padding-right: 35px;
    padding-left: 35px;
    font-size: 36px;
    line-height: 36px;
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.catalog-extra__item {
  position: relative;
  display: inline-block;
  width: 280px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 26px 35px;
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    align-items: center;
    padding: 15px 0;
  }
}

.catalog-extra__item-title {
  position: relative;
  margin-top: 11px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  color: $c-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 49%;
    margin-top: 0;
    margin-bottom: 25px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 36.5%;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.catalog-extra__list {
  display: flex;
  width: 100%;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    width: 230px;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 285px;
    margin-top: 12px;
    margin-right: 40px;
    margin-bottom: 5px;
  }
}

.catalog-extra__field,
.catalog-extra__value {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $c-darkgray;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog-extra__field {
  width: 140px;
  padding-left: 0;
  text-align: right;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.catalog-extra__value {
  width: 140px;
  padding-right: 0;

  text-align: right;

  @media (min-width: $tablet-width) {
    width: 145px;
  }
}

.catalog-extra__order {
  margin-top: 15px;
  margin-bottom: 16px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 636px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.catalog-offer {
  position: relative;
  width: 100%;
  height: 289px;
  margin: 35px 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-color: $c-green;

  opacity: 1;

  @media (min-width: $tablet-width) {
    height: 200px;
    margin: 70px 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 290px;
    margin: 0;
  }
}

.catalog-offer__description {
  position: relative;
  width: 170px;
  margin: -100% auto 0;
  padding-top: 175px;
  padding-bottom: 26px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $c-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: -18%;
    margin-right: 115px;
    padding-top: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: -42%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.catalog-offer__description::before {
  content: "";
  position: absolute;
  top: 53px;
  left: 60px;
  width: 60px;
  height: 60px;
  z-index: 5;

  background-image: url("../../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    top: -10px;
    left: -332px;
  }

  @media (min-width: $desktop-width) {
    top: -122px;
    left: 57px;
  }
}


.catalog-extra__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-content: flex-start;
  }
}

.catalog-extra__items {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 895px;
    margin-right: 80px;
  }
}
