.contacts__info {
  display: flex;
  justify-content: flex-start;
  width: 280px;
  padding: 20px;
  background-color: $c-white;
}

.page-catalog .contacts__info,
.page-form .contacts__info {
  margin: 0;
  padding: 20px;
  background-color: $c-lightgray;
}

.contacts__title {
  width: 50%;
  margin: 8px 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__text {
  align-content: space-between;
  width: 50%;
  padding-top: 8px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $c-darkgray;
  font-style: normal;
}

.contacts__map {
  width: 100%;
  height: 360px;
  margin: 0;
  padding: 0;
  background-position: 0 0;
  background-size: cover;
  background-color: $c-lightgray;
}

@media (min-width: $tablet-width) {
  .contacts__info {
    width: 630px;
    padding: 75px 70px 55px 70px;
    justify-content: space-between;
  }

  .page-catalog .contacts__info,
  .page-form .contacts__info {
    margin: 0;
    padding: 40px 70px;
  }

  .contacts__title {
    width: 155px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__text {
    width: 155px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__map {
    min-height: 395px;
  }
}

@media (min-width: $desktop-width) {
  .footer__contacts {
    position: relative;
  }

  .contacts__info {
    position: absolute;
    top: 92px;
    left: 110px;
    width: 430px;
    padding: 60px 74px;
  }

  .page-catalog .contacts__info,
  .page-form .contacts__info {
    background-color: $c-white;
  }

  .contacts__text {
    text-align: left;
  }

  .contacts__map {
    height: 400px;
  }
}
