.contacts {
  background-color: $c-white;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__info {
  display: flex;
  justify-content: flex-start;
  width: 280px;
  padding: 20px 0;
  background-color: $c-white;

  @media (min-width: $tablet-width) {
    width: 626px;
    justify-content: space-between;
    padding: 57px 40px 53px;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 92px;
    left: 40px;
    width: 430px;
    padding: 56px 74px;
    z-index: 1;
  }
}

.page-catalog .contacts,
.page-form .contacts {
  background-color: $c-lightgray;
}

.page-catalog .contacts__info,
.page-form .contacts__info {
  background-color: $c-lightgray;

  @media (min-width: $desktop-width) {
    background-color: $c-white;
  }
}

.contacts__title {
  width: 50%;
  margin: 8px 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 155px;
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__text {
  align-content: space-between;
  width: 50%;
  margin-top: 8px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $c-darkgray;
  font-style: normal;

  @media (min-width: $tablet-width) {
    width: 155px;
    text-align: right;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-right: 25px;
  }
}

.contacts__address {
  @media (min-width: $tablet-width) {
    display: inline-block;
    padding-bottom: 20px;
  }
}

.contacts__map--wrapper {
  position: relative;
  width: 100%;
  height: 364px;

  &::before {
    content: "";
    position: absolute;
    top: 137px;
    left: 129px;
    width: 62px;
    height: 53px;
    background: url("../../img/map-pin.png") 0 0 no-repeat / contain;
  }

  @media (min-width: $tablet-width) {
    min-height: 396px;

    &::before {
      top: 37%;
      left: 42%;
      width: 120px;
      height: 130px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 404px;

    &::before {
      top: 36.5%;
      left: 71.5%;
      width: 125px;
      height: 140px;
    }
  }
}

.contacts__map {
  width: 100%;
  height: 364px;
  margin: 0;
  padding: 0;
  background-position: 0 0;
  background-size: cover;
  background-color: $c-lightgray;

  @media (min-width: $tablet-width) {
    min-height: 396px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.contacts__embed-map {
  display: block;
  bottom: 0;
  z-index: 1;
  width: 100%;
  margin-top: -366px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 396px;
    margin-top: -399px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -404px;
    height: 404px;
  }
}
