.example {
  width: 100%;
  margin: 0;
  padding-top: 1px;

  border: none;
  background-position: 0 0;
  background-color: $c-lightgray;
}

.example__title {
  display: block;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 36px;
  line-height: 60px;
}

.example__description {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $c-darkgray;
  font-style: normal;
}

.example__calculation tbody {
  display: flex;
  flex-wrap: wrap;

  border-collapse: collapse;
}

.example__calculation tr {
  width: 116px;
  padding: 10px 0;
  margin-right: 20px;
  margin-left: 20px;
}

.example__calculation td {
  display: block;
  width: auto;
  padding: 0;
}

.example__value {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.example__field {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  color: #444444;
  text-align: center;
}

.example__calculation tr.example__total {
  position: relative;

  display: flex;
  justify-content: center;
  width: 100%;

  border: none;
}

.example__value--total,
.example__field--total {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  flex-wrap: nowrap;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__value--total {
  width: 170px;
  justify-content: end;
}

.example__field--total {
  width: 110px;
  text-align: start;
}

@media (min-width: $tablet-width) {
  .example {
    margin: 0;
    padding: 0;

    &__title {
      padding: 30px;
      font-size: 60px;
      line-height: 60px;
    }

    &__description {
      padding: 30px;
      width: 708px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .example__field br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .example {
    margin: 0;
    padding: 0;

    &__title {
      padding: 40px;
    }

    &__description {
      width: 440px;
      padding: 40px;
    }
  }
}
