.example {
  margin: 0;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;

  border: none;
  background-position: 0 0;
  background-color: $c-lightgray;
}

.example__title {
  display: block;
  margin-top: 14px;
  margin-bottom: 23px;
  padding: 0;

  font-size: 36px;
  line-height: 60px;
}

.example__description {
  width: 280px;
  margin-bottom: 25px;
  padding: 0;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $c-darkgray;
  font-style: normal;
}

.example__calculation {
  display: flex;
  flex-wrap: wrap;

  border-collapse: collapse;
}

.example__calculation-item {
  width: 116px;
  padding: 10px 2px;
}

.example__weight {
  position: relative;
  margin-right: 16px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__period {
  position: relative;
  margin-left: 16px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__calculation {
  display: block;
  width: auto;
}

.example__value {
  text-align: center;
  text-transform: uppercase;
}

.example__weight .example__value {
  margin-bottom: 5px;
  font-size: 24px;
}

.example__weight .example__field {
  position: absolute;
  left: 40px;
  padding: 0 15px;
}

.example__period .example__value {
  margin-bottom: 5px;
  font-size: 24px;
}

.example__period .example__field {
  position: absolute;
  right: 40px;
  padding: 0 15px;
}

.example__field {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  color: #444444;
  background-color: $c-lightgray;
  text-align: center;
}

.example__calculation .example__total {
  position: relative;

  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 22px;

  border: none;
}

.example__value--total,
.example__field--total {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  flex-wrap: nowrap;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__value--total {
  width: 170px;
  justify-content: end;
}

.example__field--total {
  width: 110px;
  text-align: start;
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
    height: 1050px;
    background: $c-white;
    margin: 0;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 46%;
      background: linear-gradient(to right, $c-lightgray 50%, #eaeaea 50%);
    }
  }

  .example__title {
    margin-top: 11px;
    padding-bottom: 30px;
    padding-top: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    padding: 13px 0 25px 0;
    width: 708px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__calculation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 708px;
    padding-bottom: 30px;
    padding-top: 0;
  }

  .example__calculation-item {
    padding: 14px 22px;
  }

  .example__weight {
    margin-right: 20px;
  }

  .example__period {
    margin-left: 20px;
  }

  .example__weight .example__value,
  .example__period .example__value {
    font-size: 30px;
  }

  .example__field {
    margin-top: 7px;
    font-size: 12px;
  }

  .example__weight .example__field {
    left: 65px;
  }

  .example__period .example__field {
    right: 69.5%;
  }

  .example__calculation .example__total {
    justify-content: flex-end;
    width: 190px;
    margin-top: -1px;
    padding-left: 0;
    padding-right: 0;
  }

  .example__value--total,
  .example__field--total {
    font-size: 20px;
  }

  .example__field br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .example {
    height: 650px;
    background: linear-gradient(#ffffff 26%, #f2f2f2 26%);
  }

  .example__title {
    margin-top: 22px;
    padding: 30px 40px;
  }

  .example__description {
    width: 440px;
    margin-top: 77px;
    padding: 40px;
  }

  .example__calculation {
    flex-wrap: wrap;
    width: 375px;
    padding-left: 40px;
  }

  .example__calculation-item {
    padding: 15px 22px;
  }

  .example__weight {
    margin-right: 20px;
  }

  .example__period {
    margin-left: 20px;
  }

  .example__field {
    margin-top: 7px;
    font-size: 14px;
  }

  .example__weight .example__field {
    left: 140px;
    padding: 0 5px;
  }

  .example__period .example__field {
    right: 68%;
    padding: 0 5px;
  }

  .example__calculation .example__total {
    justify-content: space-between;
    width: 325px;
    margin-right: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}
