.example__slider {
  margin: 0;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    padding-left: 14px;
  }

  @media (min-width: $desktop-width) {
    min-width: 650px;
    margin: 0;
    margin-top: -695px;
    margin-left: 50%;
    padding: 0;
  }
}

.example__item--before {
  display: block;
  margin-left: -20px;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    clip: rect(auto, 345px, auto, auto);
    z-index: 2;
  }
}

.example__item--after {
  display: none;
  margin-left: -20px;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    display: block;
    clip: rect(auto, auto, auto, 345px);
    z-index: 2;
  }
}

.slider__list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 708px;
    min-height: 500px;
    margin: 74px auto 12px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
  }
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  padding-top: 8px;
  padding-right: 40px;
  padding-bottom: 35px;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.slider__toggle {
  width: 45px;
  font-size: 16px;
  color: $c-black;
  text-transform: uppercase;
  background: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 45px;
    font-size: 20px;
  }
}

.slider__toggle--before {
  margin-left: -3px;

  @media (min-width: $tablet-width) {
    margin-left: 50px;
    margin-right: 20px;
    padding-left: 0;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    height: 500px;
  }
}

.example__scale {
  min-width: 82px;
  width: 100%;
  margin-top: 5px;
  height: 12px;
  border: 1px solid $c-mouse-gray;
  border-radius: 50px;
  background: #ffffff;

  @media (min-width: $tablet-width) {
    position: relative;
    right: 30px;
    width: 425px;
    height: 4px;
    padding: 0;
    background-color: #dcdcdc;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    width: 425px;
    bottom: -47px;
    right: 45px;
  }
}

.example__bar {
  position: relative;
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;
  background-color: $c-green;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -15px;
    left: 47%;
    align-self: center;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 12px solid #ffffff;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    z-index: 2;
  }
}

.example__item {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    left: -50px;
  }
}

.slider__toggle--after {
  @media (min-width: $tablet-width) {
    margin-right: 60px;
    margin-left: 10px;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
