.header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    height: 142px;
  }
}

.header__logo {
  width: 220px;
  height: 64px;
  text-align: left;

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    opacity: 0.4;
  }

  @media (min-width: $tablet-width) {
    width: 196px;
    padding-left: 0;
    z-index: 5;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    height: 70px;
  }
}

.header__logo img {
  width: 190px;
  height: 40px;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 175px;
    height: auto;
    margin-top: 24px;
    margin-left: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 205px;
    margin-top: 18px;
    margin-left: 42px;
  }
}
