.header {
  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 220px;
  height: 66px;
  text-align: left;

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    opacity: 0.4;
  }
}

.header__logo img {
  width: 190px;
  height: 37px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    width: 708px;
    margin-right: 30px;
  }

  .header__logo {
    width: 192px;
    height: 66px;
  }

  .header__logo img {
    display: block;
    margin-top: 24px;
    margin-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    height: 142px;
  }

  .header__logo {
    width: 205px;
    height: 60px;
  }

  .header__logo img {
    margin-top: 55px;
    margin-left: 40px;
  }
}
