.info {
  margin: 20px;
  margin-bottom: 40px;
}

.info__title {
  font-size: 36px;
  line-height: 60px;
}

.info__list {
  padding: 0;
  list-style: none;
}

.info__description {
  width: 200px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $c-darkgray;
  font-style: normal;
}

.info__item {
  position: relative;
  left: 80px;
}

.info__item--advantage::before,
.info__item--consist::before,
.info__item--instruction::before,
.info__item--result::before {
  content: "";

  position: absolute;
  top: 0;
  left: -80px;

  width: 60px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: $c-green;
}

.info__item--advantage::before {
  background-image: url("../../img/advantage-leaf@1x.png");
}

.info__item--consist::before {
  background-image: url("../../img/advantage-powder@1x.png");
}

.info__item--instruction::before {
  background-image: url("../../img/advantage-dining@1x.png");
}

.info__item--result::before {
  background-image: url("../../img/advantage-clock@1x.png");
}

@media (min-width: $tablet-width) {
  .info {
    margin: 30px;

    &__title {
      font-size: 60px;
      line-height: 60px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 70px;
    }

    &__item {
      margin-right: 80px;
    }

    &__description {
      position: relative;
      top: 70px;
      left: -80px;
      margin-top: 35px;
      margin-bottom: 160px;
      width: 274px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .info__item--advantage::before,
  .info__item--consist::before,
  .info__item--instruction::before,
  .info__item--result::before {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: $desktop-width) {
  .info {
    margin: 40px;

    &__list {
      display: flex;
      flex-direction: row;
    }

    &__item {
      width: 245px;
      margin-right: 80px;
    }

    &__item:nth-child(4n) {
      margin-right: 0;
    }
  }
}
