.main-nav {
  position: relative;

  width: 100%;
  min-height: 1px;
  margin: 0 auto;

  background-color: $c-white;
}

.main-nav__toggle {
  position: absolute;
  top: -64px;
  right: 0;
  z-index: 2;

  display: block;
  width: 64px;
  height: 64px;

  background-color: $c-white;

  cursor: pointer;
  border: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;

  top: 23px;
  left: 22px;

  width: 24px;
  height: 2px;

  background-color: $c-black;
  box-shadow: 0 8px 0 0 $c-black, 0 16px 0 0 $c-black;
}

.main-nav--closed .main-nav__toggle:active::before {
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle {
  top: -64px;
  right: 0;
  left: auto;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 30px;
    right: 22px;

    width: 24px;
    height: 2px;

    background-color: $c-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.main-nav__list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;

    text-align: center;
  }

  .main-nav--opened .main-nav__wrapper {
    position: initial;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    background-color: $c-white;
  }

  .main-nav--opened .main-nav__wrapper::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    width: 7px;
    height: 100%;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item--active a {
    padding-right: 22px;
    padding-left: 22px;

    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 440px; /*  440px / 768px ~= 57% */
    max-width: 480px;
    margin: 0;
    margin-right: 55px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    margin-top: 130px;
  }
}
