.program__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 12px;
  font-size: 36px;
  line-height: 60px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: -20px;

    width: 320px;
    height: 1px;
    background: #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    padding-top: 75px;
    padding-bottom: 35px;
    font-size: 60px;
    line-height: 60px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
  }
}

.program__text {
  width: 240px;
  font-family: $f-base;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 350px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.program-form {
  margin-top: 37px;
  margin-bottom: 52px;
  font-family: $f-base;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
    padding: 0 40px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
    margin-bottom: 65px;
    padding: 0;
  }
}

.program__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.cat-info {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
    padding: 0;
  }
}

.cat-info__list {
  margin-bottom: 24px;
  padding-left: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.cat-info__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.cat-info__item:last-child {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.cat-info__item > input {
  max-width: 100%;
  box-sizing: border-box;
  margin-left: 15px;
  padding: 12px;
  padding-left: 15px;
  flex: 1;
  border: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 13px 20px 15px;
  }
}

.cat-info__item input,
.user-info__item input,
.comment textarea {
  text-transform: uppercase;
  color: $c-darkgray;
}

.cat-info__item input:hover,
.user-info__item input:hover,
.comment textarea:hover {
  border: 1px solid #cdcdcd;
}

.cat-info__item input:focus,
.user-info__item input:focus,
.comment textarea:focus {
  border: 1px solid $c-darkgray;
}

.cat-info__item input:invalid,
.user-info__item input:invalid {
  border: 1px solid #ff8282;
}

.user__input {
  padding: 13px 45px 13px 15px;
  background-size: 18px 20px;
}

.comment textarea {
  width: 100%;
  height: 150px;
  margin-top: 14px;
  padding: 15px;
  resize: none;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 174px;
  }
}

.user-info__title,
.comment__title,
.filter-extra__title {
  font-family: $f-base;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  z-index: 2;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 36px;
  }
}

.user-info,
.comment,
.filter-extra {
  position: relative;
}

.user-info::before {
  content: "";
  position: absolute;
  top: 41px;
  left: 0;
  z-index: 1;
  width: 200px;
  height: 3px;
  background-color: $c-white;

  @media (min-width: $tablet-width) {
    top: 60px;
    left: -40px;
    width: 592px;
  }

  @media (min-width: $desktop-width) {
    top: 89px;
    height: 5px;
  }
}

.user-info::after {
  content: "";
  position: absolute;
  top: 41px;
  right: -20px;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-color: $c-green;

  @media (min-width: $tablet-width) {
    top: 60px;
    left: -70px;
    width: 100vw;
  }

  @media (min-width: $desktop-width) {
    top: 90px;
    width: 100vw;
  }
}

.comment::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 1;
  width: 140px;
  height: 3px;
  background-color: $c-white;

  @media (min-width: $tablet-width) {
    top: 83px;
    left: -40px;
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    top: 82px;
    height: 5px;
  }
}

.comment::after {
  content: "";
  position: absolute;
  top: 32px;
  right: -20px;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-color: $c-green;

  @media (min-width: $tablet-width) {
    top: 83px;
    left: -70px;
    width: 100vw;
  }

  @media (min-width: $desktop-width) {
    width: 100vw;
  }
}

.comment__title {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
    margin-bottom: 62px;
  }
}

.user-info__title {
  display: inline-block;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
    padding-top: 32px;
  }
}

.user-info__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.user-info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
    padding: 0;
  }
}

.user-info__item-inner {
  flex: 1;
  position: relative;
  width: auto;

  > svg {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }

  > input {
    width: 100%;
    max-width: calc(100% - 10px);
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;

    @media (min-width: $tablet-width) {
      max-width: calc(100% - 15px);
      margin-left: 20px;
    }
  }
}

.user__input:focus + .user__email--icon,
.user__input:focus + .user__phone--icon {
  fill: $c-green;
}

.user__input:invalid + .user__email--icon,
.user__input:invalid + .user__phone--icon {
  fill: #ff8282;
}

.filter-extra__title {
  display: inline-block;
  margin-top: 28px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 38px;
  }
}

.filter-extra::before {
  content: "";
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 1;
  width: 163px;
  height: 3px;
  background-color: $c-white;

  @media (min-width: $tablet-width) {
    top: 86px;
    left: -40px;
    width: 292px;
  }

  @media (min-width: $desktop-width) {
    top: 85px;
    height: 5px;
  }
}

.filter-extra::after {
  content: "";
  position: absolute;
  top: 42px;
  right: -20px;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-color: $c-green;

  @media (min-width: $tablet-width) {
    top: 86px;
    left: -70px;
    width: 100vw;
  }

  @media (min-width: $desktop-width) {
    width: 100vw;
  }
}

.program__filter {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid $c-catalog-gray;
  border-bottom: 1px solid $c-catalog-gray;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 37px;
    margin-left: 0;
    border-right: 1px solid $c-catalog-gray;
    border-left: 1px solid $c-catalog-gray;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
    padding: 0;
  }
}

.filter-options {
  padding: 0;
  list-style: none;
}

.filter-option {
  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 22px;
  }
}

.filter-option__input--radio {
  display: none;
}

.filter-option__label--radio {
  position: relative;
  display: block;
  margin-bottom: 5px;
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 65px;
  }
}

.filter-option__label--radio:active {
  opacity: 0.3;
}

.filter-option__label--radio::before {
  content: "";
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  margin-top: -6px;
  background-color: $c-white;
  border: 9px solid $c-white;
  box-shadow: 0 0 0 1px #cecece;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 14px;
    left: 9px;
    width: 20px;
    height: 20px;
  }
}

.filter-option__input:checked + .filter-option__label--radio::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: $c-green;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    top: 18px;
    left: 19px;
    width: 18px;
    height: 18px;
  }
}

.filter-extra__list {
  padding: 0;
  padding-bottom: 8px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 0;
  }
}

.filter-extra__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 45%;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.filter-extra__input--checkbox {
  display: none;
}

.filter-extra__label {
  position: relative;
  display: block;
  margin-left: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 58px;
  }
}

.filter-extra__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 28px;
  height: 28px;
  border: 1px solid $c-catalog-gray;

  @media (min-width: $tablet-width) {
    width: 37px;
    height: 37px;
  }
}

.filter-extra__input:checked + .filter-extra__label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
}

.filter-extra__button {
  margin-bottom: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 70px;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-top: 10px;
    margin-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
  }
}

.program-form__legend {
  padding-left: 62px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    padding-left: 0;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 40px;
  }
}

.filter-extra__request {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}
