.site-list {
  font-weight: bold;
}

.site-list__item {
  border: 1px solid #e6e6e6;
}

.site-list a {
  display: block;
  padding: 20px 0;

  font-size: 20px;
  line-height: 20px;
  color: $c-black;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
