.footer__social {
  position: relative;
  width: 100%;
  margin: 0 auto;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 280px;
    height: 2px;
    background: $c-mouse-gray;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 280px;
    height: 2px;
    background: $c-mouse-gray;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    width: 412px;
    margin: 34px 0 50px;
    padding-left: 27px;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 132px;
    margin: 46px 400px 34px 395px;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 126px;
  margin: 0 auto;
  padding: 20px 20px 22px 12px;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 130px;
    padding: 0;
    margin: 0;
    margin-top: -8px;
  }
}

.social__item {
  display: flex;
  align-items: flex-end;
}

.social__link {
  text-decoration: none;
  opacity: 0.6;
}

.social__image-vk {
  @media (min-width: $tablet-width) {
    width: 32px;
    height: 18px;
    margin-bottom: 4px;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__image-insta {
  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__image-fb {
  @media (min-width: $tablet-width) {
    width: 18px;
    height: 28px;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__image-vk,
.social__image-insta,
.social__image-fb {
  fill: #666666;

  &:hover {
    fill: $c-green;
  }

  &:active {
    fill: $c-green;
  }
}
