.start-program {
  top: 0;
  left: 0;

  width: 320px;
  height: 305px;
  padding: 0;

  border: none;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: $c-green;

  opacity: 1;
}

@media (min-width: $tablet-width) {
  .start-program {

  }

    .start-program__product {
      width: 709px;
      height: 609px;
      background-image: url("../img/index-can-tablet@1.png");
    }
}

@media (min-width: $desktop-width) {
  .start-program {
    width: 720px;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
  }

  .start-program__product {
    width: 552px;
    height: 499px;
    background-image: url("../img/index-can-desktop@1.png");
  }
}

