.weight {
  padding: 0;
  padding-top: 20px;
  box-sizing: border-box;

  &__item--lose {
    padding: 20px;
    margin-bottom: 20px;

    background: $c-lightgray;
  }

  &__item--gain {
    padding: 20px;
    margin-bottom: 20px;

    background: $c-lightgray;
  }
}

.weight__description {
  padding-bottom: 9px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $c-darkgray;
  font-style: normal;
}

.weight__title {
  position: relative;
  margin: 0;
  padding: 17px 20px 20px 70px;

  font-weight: normal;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 2px;
    width: 50px;
    height: 50px;

    background-color: $c-green;
    border-radius: 50%;
  }
}

.weight__item--lose .weight__title::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 9px;
  width: 36px;
  height: 50px;
  z-index: 5;

  background-image: url("../../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.weight__item--gain .weight__title::after {
  content: "";
  position: absolute;
  top: 15px;
  left: -8px;
  width: 68px;
  height: 29px;
  z-index: 5;

  background-image: url("../../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-slim__to-all,
.catalog-pro__to-all {
  position: relative;
  display: block;
  padding-top: 20px;
  font-size: 16px;
  line-height: 16px;
  color: $c-black;
  text-transform: uppercase;
  border-top: 1px solid $c-mouse-gray;

  &::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 96px;
    width: 25px;
    height: 12px;
    background: url("../../img/icon-right-arrow-long.svg");
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .weight {
    /*  margin: 30px;` */

    &__item--lose,
    &__item--gain {
      padding: 52px;
      padding-bottom: 62px;
    }

    &__item--lose {
      margin-bottom: 30px;
    }
  }

  .weight__title {
    width: 375px;
    padding: 22px 0 10px 0;
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 38px;
      left: 395px;
      width: 200px;
      height: 200px;
    }
  }

  .weight__description {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  .weight__item--lose .weight__title::after {
    top: 27px;
    left: 425px;
    width: 144px;
    height: 196px;
  }

  .weight__item--gain .weight__title::after {
    top: 82px;
    left: 360px;
    width: 268px;
    height: 114px;
  }

  .weight__item--lose .weight__description {
    width: 375px;
  }

  .weight__item--gain .weight__description {
    width: 344px;
  }

  .catalog-slim__to-all,
  .catalog-pro__to-all {
    padding-top: 32px;
    font-size: 20px;
    line-height: 20px;
    border: none;
  }

  .catalog-slim__to-all::after {
    top: 37px;
    left: 130px;
  }

  .catalog-pro__to-all::after {
    top: 37px;
    left: 127px;
  }
}

@media (min-width: $desktop-width) {
  .weight {
    max-width: 1440px;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;

    &__item--lose,
    &__item--gain {
      width: 36%;
      margin: 0;
    }

    &__item--lose {
      margin-right: 80px;
    }
  }

  .weight__title {
    width: 325px;
    padding-top: 29px;
    padding-bottom: 32px;
    padding-left: 165px;
    margin-bottom: 40px;

    &::before {
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
    }
  }

  .weight__item--lose .weight__title::after {
    top: -7px;
    left: 15px;
    width: 70px;
    height: 100px;
  }

  .weight__item--gain .weight__title::after {
    top: 20px;
    left: -18px;
    width: 140px;
    height: 60px;
  }

  .weight__item--lose .weight__description {
    width: 465px;
  }

  .weight__item--gain .weight__description {
    width: 450px;
  }

  .catalog-slim__to-all,
  .catalog-pro__to-all {
    padding-top: 7px;
  }

  .catalog-slim__to-all::after {
    top: 12px;
    left: 132px;
  }

  .catalog-pro__to-all::after {
    top: 12px;
    left: 130px;
  }
}
