$f-base: "Oswald", "Arial", sans-serif;

//global vars
$tablet-width: 768px;
$desktop-width: 1300px;

// colors
$c-white: #ffffff;
$c-green: #68b738;
$c-lightgray: #f2f2f2;
$c-darkgray: #444444;
$c-black: #000000;

